/* Use #FF6A00, #FF8F40, #FFAD73, and #A64500 "Hue 26" */

html {font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
        }



.header {
              
             width: 100%;
             height: 940px;
             background-image: url(images_D/Derrike_Wife.jpg);
             background-position: left;
             background-repeat: no-repeat;
             background-size: cover;
             background-size: 100%;
             padding: 20px;
             opacity: .5
             
}

.headerquote p {font-weight: 600;
            color: #000000;
            font-size: 60px;
            float: left ;
            width: 600px;
            border-top: 3px solid #000000;
            border-bottom: 3px solid #000000;
            z-index: 1;
            text-transform: uppercase;
            animation-name: fadein;
            opacity: 1;
            animation-duration: 3.5s;
            animation-delay: 0s;
            background-color: white;
            }

@keyframes fadein {
    
  0% { opacity: 0; }
  
  25% { opacity: .25}    
    
  45% {opacity: .5;}

  100% {opacity: 1;}
}                







hr {border-color: #A64500;}

p {font-family: 'Poppins', sans-serif;
    font-weight: 300;}

h1 {font-weight: 600;
    color: #A64500;}

h2 {font-weight: 400;
    color: #FF6A00;}

body {widows: 300px;
        background-color: #FFAD73;}     

.intro {background-color: blue;
        text-align: center;
        
        width: 100%;
        height: 940px;
        }

.nav ul {list-style: none;
      margin: 0;
      padding:0;
      width: 100%;
      display: inline-block;
      background-color: white;
     
}

/* ul li MUST BE SEPARATE FOR HORIZONTAL BAR!!! */

.nav ul li {display: inline;}

.col1 { background-color: white;
        float: left;
        width: 50%;
        margin: 1px;
        border-style: groove;
        border-color: #A64500;
        display: inline;
        text-align: center;
        }

.col2  {background-color: white;
        float: left;
        width: 50%;
        margin: 1px;
        border-style: groove;
        border-color: #A64500;
        display: inline;
        text-align: center;
}
.col1 img, .col2 img {
    
        width: 470px;
        height: 470px;
}


.col3 {float: left;
        width: 470px;
        margin: 60px;
        clear: left;
        border-style: groove;
        border-color: #A64500;  
        background-color: white;
        text-align: center;
}

.col4 {float: left;
        width: 470px;
        margin: 60px;
        border-style: groove;
        border-color: #A64500;
        text-align: center;
        background-color: white;
}

.col3 img, .col4 img {
        width: 470px;
        height: 470px;


