/* Use #FF6A00, #FF8F40, #FFAD73, and #A64500 "Hue 26" */

html {font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
        }



.img-header {
             background-image: url(images_D/Derrike_Wife.jpg);
             width: 100%;
             height: 100%;
             padding: 360px;
             background-position: center;
             background-repeat: no-repeat;
             
             background-size: contain;
             position:
}





hr {border-color: #A64500;}

p {font-family: 'Poppins', sans-serif;
    font-weight: 300;}

h1 {font-weight: 600;
    color: #A64500;}

h2 {font-weight: 400;
    color: #FF6A00;}

body {widows: 300px;
        background-color: #FFAD73;}     

.intro {display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        }

.col1 {float: left;
        width: 460px;
        margin: 120px;
        border-style: groove;
        border-color: #A64500
        }

.col2  {float: left;
        width: 460px;
        margin: 120px;
        border-style: groove;
        border-color: #A64500;
}
.col1 img, .col2 img {
        width: 500px;
        height: 500px;
}


.col3 {float: left;
        width: 460px;
        margin: 120px;
        clear: left;
        border-style: groove;
        border-color: #A64500;  
        }

.col4 {float: left;
        width: 460px;
        margin: 120px;
        border-style: groove;
        border-color: #A64500;}

.col3 img, .col4 img {
        width: 500px;
        height: 500px;


